BOT_TOKEN=123456789:replace_with_botfather_token
SUPPORT_GROUP_ID=-1001234567890
DATA_FILE=./data/forumdesk.json
HTTP_ADDR=:8080
WEB_API_KEY=replace-with-at-least-32-random-characters
WEB_ALLOWED_ORIGINS=https://www.example.com
WEB_RATE_LIMIT_PER_MINUTE=60
